*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.hide{
    display: none;
}
.show{
    display: block;
}

.dashboard{
    height: 100%;
    display: flex;
}

.dashboard_admin{
    background-color: #ff00808d;
    height: 800px;
}
.dashboard_admin-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    flex-wrap: wrap;
    
}
.dashboard_admin-logo img{
    width: 52px;
}
.dashboard_admin-logo p{
    margin: 0;
    color: #ff0081;
    font-size: 20px;
    font-weight: 500;
    transform: translateX(-12%);
}


.dashboard_admin-menu{
    
}
.dashboard_admin-menu ul{
    list-style: none;
    padding: 0;
}
.dashboard_admin-menu ul li{
    border: 1px solid #ccc;
    /* padding: 10px 0; */
    padding-left: 40px;
    margin: 4px 2px;
}
.dashboard_admin-menu>ul>li:hover{
    background-color: #cccccc!important;
    cursor: pointer;
}


.dashboard_admin-menu ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    
    
    /* font-weight: 400; */

}
.box_dashboard{
    margin-left: 10px
}

.navbar{
    box-shadow: 1px 1px 1px 1px #888888;;
}
.nav-item{
    padding: 0!important;
}
.dashboard_info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dashboard_info .dashboard_info-box{
    width: 250px;
    padding-top: 10px;
    margin-top: 20px;
    height: 90px;
    color: white;
}
.dashboard_info .dashboard_info-box h5{
    padding-left: 20px;
    padding-bottom: 6px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
.dashboard_info .dashboard_info-box span{
    padding-left: 20px;
}

.btn_account-add{
    margin: 20px 0;
}